$themes: (
  blue-theme: (
    color: #3498db,
  ),
  green-theme: (
    color: #2ecc71,
  ),
  red-theme: (
    color: #e74c3c,
  ),
);

@each $theme, $map in $themes {
  .#{$theme} {
    .content .page__title {
      color: map-get($map, color);
    }
  }
}
