* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.page {
  min-height: 100vh;
  width: 100%;

  .content-area {
    width: calc(100% - 250px);
    min-height: 100vh;
    transition: width 0.3s ease-in-out;
    will-change: width;
    float: right;
    background-color: #f2f1f6;

    &.active {
      width: 100%;
      transition: width 0.3s ease-in-out;
    }
  }
}
