.page {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 9999;
    background-color: #292c33;
    color: white;
    transition: left 0.3s ease-in-out;

    &.active {
      left: -250px;
      transition: left 0.3s ease-in-out;
    }
  }
}
