- var pageTitle = 'HomePage'
doctype html
html(lang="en")
    head
        include layout/meta
        include layout/styles
    body 
        .page.home__page
            include components/settings-box
            include layout/sidebar
            .content-area
                include layout/header
                .container-fluid 
                    include components/page-head
        include layout/scripts